<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Offshift Admin Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <form (ngSubmit)="login()" [formGroup]="credentials">
      <ion-item class="ion-margin-bottom">
        <ion-input type="email" formControlName="email" label="Email" placeHolder="Your email address"></ion-input>
        <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">
          Email is required
        </ion-note>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-input type="password" formControlName="password" label="Password" placeHolder="Your password"></ion-input>
        <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">
          Password is required
        </ion-note>
      </ion-item>
      <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Login</ion-button>
    </form>
    
</ion-content>
